html {
    width: 1358px;
    height: auto;
}
.h {
    margin-left: 40px;
    margin-top: -8px;
    border-radius: 5px;
}
ul  {
    list-style-type: none;
    margin-top: -70px;
    margin-left: 210px;
    font-family: Intro-Head-R, Arial, Helvetica, sans-serif;
;
}
.z {
    float: left;
    display: block;
    padding-left: 15px;
    margin-top: 20px;
    text-decoration: none;
    color: rgb(55, 55,55);
    font-weight: 700;
    transition-property: color;
}
.z:hover {
    color: rgb(255, 200, 44);
}
.box {
    background-color: #f0f0f0;
    margin-top: 20px;
    padding: 12px;
    margin-left: -10px;
    margin-right: -10px;
}
.y {
    text-decoration: none;
    color: rgb(130, 130, 130);
    padding-left: 500px;
}
a:hover {
    color: rgb(255, 200, 44);
    transition-property: color;
}
.x {
    text-decoration: none;
    color: rgb(130, 130, 130);
    padding-left: 30px;
}
.p {
    text-decoration: none;
    color: rgb(130, 130, 130);
    padding-left: 30px;
}
.kid {
    position: absolute;
    margin-left: -0.33px;

}
.o {
    margin-left: 320px;
    margin-top: -10px;
}
.t {
    margin-left: 5px;
}
.fir {
    width: 1358px;
    height: 719.45px;
    
}
.lkj {
    background-color: rgb(240, 240, 240);
    width: 1354px;
    height: 38mm;
    margin-top: 40px;
    margin-left: -10px;
    padding-left: 600px;
    padding-top: 19mm;


}







